@model ManhaleAspNetCore.Models.Khalias

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutManhal.cshtml";
}

<h1>Add New Khalia</h1>

<hr />
<div style="width:90%">
    <form asp-action="Create">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="row" style="margin:15px;">
            <div class="col">
                <label asp-for="Ssn"></label>
                <input asp-for="Ssn" class="form-control" />
                <span asp-validation-for="Ssn" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="KhaliaLevel"></label>
                <select asp-for="KhaliaLevel" class="form-control" asp-items="ViewBag.KhaliaLevel"></select>
                <span asp-validation-for="KhaliaLevel" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="KhaliaType"></label>
                <select asp-for="KhaliaType" class="form-control" asp-items="ViewBag.KhaliaType"></select>
                <span asp-validation-for="KhaliaType" class="text-danger"></span>
            </div>
        </div>

        <div class="row" style="margin:15px">
            <div class="col">
                <label asp-for="Wood" class="control-label"></label>
                <select asp-for="Wood" class="form-control" asp-items="ViewBag.woodType"></select>
                <span asp-validation-for="Wood" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="PraweezCount" class="control-label"></label>
                <input asp-for="PraweezCount" class="form-control" />
                <span asp-validation-for="PraweezCount" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="row" style="margin:15px">
            <div class="col">
                <label asp-for="Queues.QueueStatus" class="control-label"></label>
                <select asp-for="Queues.QueueStatus" class="form-control" asp-items="ViewBag.QueueStatus"></select>
                <span asp-validation-for="Queues.QueueStatus" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Queues.DateFertilization" class="control-label"></label>
                <input asp-for="Queues.DateFertilization" class="form-control" />
                <span asp-validation-for="Queues.DateFertilization" class="text-danger"></span>
            </div>
        </div>


        <input type="hidden" asp-for="ManhalId" value=@ViewBag.ManhalId />

        <div class="row">
            <input  type="submit" value="Add" class="btn btn-success offset-1" style="width:400px;outline:none;border-radius:20px" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
