@model ManhaleAspNetCore.ModelView.Manahel.AddImageVM

<form enctype="multipart/form-data" asp-action="AddImage" asp-controller="Manhal">
    <div class="hidden">
        <input type="hidden" asp-for="id" class="hidden bootstrap-switch-readonly">
    </div>
    <div class="form-group">
        <label asp-for="imageFile" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="imageFile" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="imageFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add New Image" class="btn btn-success" />
    </div>
</form>